html{
    height: 100%;
    width: 100%;
}

body{
    background: transparent;
    height: 100%;
    width: 100%;
}

#mainContentContainer{
    background: radial-gradient(blue, black);
    height: 100%;
    width: 100%;
}

#navBar{
    background: transparent;
}