#resumeDownloadButton{
    width: 340px;
    border: 1px solid #fff;
    background: transparent;
    color: white;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.75), 0 0 5px #000;
    cursor: pointer;    
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 40px;
    margin: auto;
}

#resumeDownloadButton > a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    text-shadow:0 0 10px #000, 0 0 5px #000;
}

#resumeDownloadButton > * {
    font-size: 30px;
}

#resumeDownloadButton > i{
    vertical-align: middle;
    margin-right: 30px;
}