#resumeDownloadButton{
    width: 340px;
    border: 1px solid #fff;
    background: transparent;
    color: white;
    text-align: center;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.75), 0 0 20px #000;
    cursor: pointer;    
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 70px;
    margin: auto;
    vertical-align: middle;
}

#resumeDownloadButton:active{
    transform: scale(0.98); 
    box-shadow: 0 0 1px 1px rgba(0,0,0,.75), 0 0 10px #000;
}

#resumeDownloadButton > a{
    vertical-align: middle;    
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

#resumeDownloadButton *{    
    color: white;
    vertical-align: middle;
    text-shadow:0 0 10px #000, 0 0 5px #000;
    text-decoration: none;
    font-size: 30px;
    vertical-align: middle;
}

#innerButton{
    /* padding-top: 14px; */
    padding: 0;
    margin: 0;
    vertical-align: middle;
    margin-top: 9px;
}

#downloadIcon{
    margin-right: 30px;   
    font-size: 28px;
    margin-top: 5px; 
}

#buttonText{

}