html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(blue, black);    
}

html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#headerBar {
    height: 80px;
    width: 100%;
    background: red;

}

#navBar{
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;
    display: inline-block;
    float: right;
    margin-top: 28px;
    margin-right: 80px;
}

.nav-item{
    list-style: none;
    display: inline-block;
    margin-right: 20px
}

.nav-link{
    color: white;      
    text-decoration: none;
    text-decoration-style: none;  
    font-family: "segoe ui";
    font-weight: bold;
}

#footerBar{
    background: transparent;
    border-top: 2px solid white;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    height: 20px;
}

.footer-item{
    color: white;
    font-size: 12px;
}

#mainContentContainer{
    height: calc(100% - 80px - 28px);
    width: 100%
}

.square{
    height: 40px;
    width: 40px;
    background-color:green;
    display: inline-block;
    margin-left: 80px;
    margin-top: 20px;
}